.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#formOne {
    display: flex;
}

.ui-menu-item {
    list-style: none;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
#savedCity {
    font-size: 28px;
    font-weight: bold;
}

.versus {
    border-color: black;
    border-radius: 3px;
}