.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ui-menu-item {
    list-style: none;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}